@model MooSharp.Models.ViewModels.AssignmentDetailsViewModel

@using MooSharp.Models.ViewModels

@{
    ViewBag.Title = "AssignmentDetails";
}
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<h1> @Model.Title - @Model.CourseTitle</h1>
<hr />
<br />
<h3>Assignment Description</h3>
<p>@Model.Description</p>
<br />
<h3>Milestones</h3>
<br />

<div>
    <!-- Tab headers -->
    @if (Model.Milestones.Count > 0) {
        <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active"><a data-target="@("#" + Model.Milestones[0].ID)" aria-controls="home" role="tab" data-toggle="tab">@("1. " + Model.Milestones[0].Title)</a></li>
            @for (var i = 1; i < Model.Milestones.Count; i++) {

                <li role="presentation"><a data-target="@("#" + Model.Milestones[i].ID)" aria-controls="home" role="tab" data-toggle="tab">@((i + 1) + ". " + Model.Milestones[i].Title)</a></li>

            }
        </ul>
        <!-- Tab headers end -->

        <!-- Tab content-->
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="@Model.Milestones[0].ID">
                <br />
                <h4>Description</h4>
                <p>@Model.Milestones[0].Description</p>
                <br />
                @if (DateTime.Compare(Model.DueDate, DateTime.Now) >= 0) {
                    using (Html.BeginForm("UploadSubmission", "Submissions", FormMethod.Post, new { @class = "form form-horizontal", role = "form", enctype = "multipart/form-data" })) {
                        <label for="file">Upload file for this milestone:</label>
                        <input type="file" name="file" id="file" /> <br />
                        <input type="submit" class="btn btn-default" value="Submit" />
                        <input name="ID" id="ID" value="@Model.ID" hidden />
                        <input name="CourseID" id="CourseID" value="@Model.CourseID" hidden />
                        <input name="MilestoneID" id="MilestoneID" value="@Model.Milestones[0].ID" hidden />
                    }
                }
                else {
                    <p class="text-danger"> Due date has exceded</p>
                }
                <br />
                <!-- Submissions list -->
                @if (Model.Milestones[0].Submissions.Count == 0) {
                    <p class="text-danger">No submissions exist</p>
                 }
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Submission</th>
                            <th>Status</th>
                            <th>Submission time</th>
                        </tr>
                    </thead>
                    <tbody>
                    @{ var count = Model.Milestones[0].Submissions.Count;}
                    @for (var i = 0; i < Model.Milestones[0].Submissions.Count; i++) {
                        <tr>
                            <td>@Html.ActionLink("Submission " + count, "SubmissionResults", new { submissionID = Model.Milestones[0].Submissions[i].ID })</td>
                            <td>@Model.Milestones[0].Submissions[i].Status</td>
                            <td>@Model.Milestones[0].Submissions[i].SubmissionDateTime</td>
                        </tr>
                        count--;
                    }
                    </tbody>
                </table>
            </div>
            <!-- Start of loop -->
            @for (var i = 1; i < Model.Milestones.Count; i++) {

                <div role="tabpanel" class="tab-pane" id="@Model.Milestones[i].ID">
                    <br />
                    <h4>Description</h4>
                    <p>@Model.Milestones[i].Description</p>
                    <br />

                    @if (DateTime.Compare(Model.DueDate, DateTime.Now) >= 0){

                        using (Html.BeginForm("UploadSubmission", "Submissions", FormMethod.Post, new { @class = "form form-horizontal", role = "form", enctype = "multipart/form-data" })) {
                        <label for="file">Upload file for this milestone:</label>
                        <input type="file" name="file" id="file" /> <br />
                        <input type="submit" class="btn btn-default" value="Submit" />
                        <input name="ID" id="ID" value="@Model.ID" hidden />
                        <input name="CourseID" id="CourseID" value="@Model.CourseID" hidden />
                        <input name="MilestoneID" id="MilestoneID" value="@Model.Milestones[i].ID" hidden />
                        }
                    }
                    else {
                        <p class="text-danger"> Due date has exceded</p>
                    }

                </div>
    }
        </div>
    }
    else {
        <p class="text-danger">No milestones exist for this assignment</p>
    }
    <!-- Tab content end -->
</div>