
@{
    ViewBag.Title = "Student Home Page";
}

@section SideBar {
    <li>@Html.ActionLink("Home", "Index", "Home")</li>
    <hr />
    <li>@Html.ActionLink("My Courses", "DisplayCourses", "Courses")</li>
    <li>TODO: Add list of courses here</li>
    <li>@Html.ActionLink("My History", "DisplayHistory", "Submissions")</li>
    <hr />
}
<h2>@ViewBag.Title</h2>
<hr />
<h3>Active assignments</h3>
<hr />
<div class="row">
    @for (var i = 0; i < 4; i++) {

        <div class="col-lg-3">
            <div class="panel panel-default">
                <div class="panel-heading"><h3>Forritun</h3></div>
                <div class="panel-body">
                    <ul>
                        <li><strong>Active: </strong> 2</li>
                        <li><strong>Finished: </strong> 1</li>
                        <li><strong>Students: </strong> 198</li>
                    </ul>
                </div>
            </div>
        </div>

    }
</div>
<h3>Unfinished Assignments</h3>
<hr />
<div class="row">
    @for (var i = 0; i < 4; i++) {

        <div class="col-lg-3">
            <div class="panel panel-default">
                <div class="panel-heading"><h3>Forritun</h3></div>
                <div class="panel-body">
                    <ul>
                        <li><strong>Active: </strong> 2</li>
                        <li><strong>Finished: </strong> 1</li>
                        <li><strong>Students: </strong> 198</li>
                    </ul>
                </div>
            </div>
        </div>

    }
</div>

@section Copyright {
    <br />
    <br />
    <br />
    <hr />
    <p>&copy; @DateTime.Now.Year - MooSharp</p>
}