@model MooSharp.Models.ViewModels.Students.SubmissionResultsViewModel
@using MooSharp.Models.ViewModels

@{
    ViewBag.Title = "SubmissionResults";
}

<h1>Submission Results</h1>
<hr />

<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<h2> @Model.AssignmentTitle</h2>
<h3>Milestone: @Model.MilestoneTitle</h3>
<hr />
@if (Model.Compiled == false) {
    <p>Compile failed:</p>
    <p class="text-danger">@Model.CompilerOutput</p>
}
else {
<p class="text-success">Compile succeeded</p>
<br />

<div>
    <!-- Tab headers-->
    @if (Model.SubmissionTestCases.Count > 0) {
        <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active"><a data-target="@("#" + Model.SubmissionTestCases[0].ID)" aria-controls="home" role="tab" data-toggle="tab">Test case 1</a></li>
            @for (var i = 1; i < Model.SubmissionTestCases.Count; i++) {

                <li role="presentation"><a data-target="@("#" + Model.SubmissionTestCases[i].ID)" aria-controls="home" role="tab" data-toggle="tab">@("Test case" + i+1)</a></li>

            }
        </ul>
    <!-- Tab headers end-->

    <!-- Tab Content -->
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="@Model.SubmissionTestCases[0].ID">
                <br />
                <h4>Time limit:</h4>
                @if (@Model.SubmissionTestCases[0].TimeLimitExceeded == true) {
                    <p class="text-danger">Time limit exceeded</p>
                }
                else {
                    <p class="text-success">Execution was within the time limit</p>
                    <hr />
                    <h4>Output:</h4>
                    if(Model.SubmissionTestCases[0].WrongOutput == true) {
                        <p class="text-danger">Wrong output. See output below</p>
                        <p>TODO: output below</p>
                    }
                    else {
                        <p class="text-success">Output was correct. Congratulations!</p>
                    }
                    <hr />
                }

            </div>
            @for (var i = 1; i < Model.SubmissionTestCases.Count; i++) {

                <div role="tabpanel" class="tab-pane" id="@Model.SubmissionTestCases[i].ID">
                    <br />

                </div>
            }
        </div>
    }
    else {
        <p class="text-danger">No submissions exist for this assignment</p>
    }
    <!-- Tab Content End -->
</div>
}