@model MooSharp.Models.ViewModels.AssignmentViewModel
@using MooSharp.Models.ViewModels
@{
    ViewBag.Title = "AssignmentDetails";
}

<h1> @Model.Title</h1>
<hr />

<h4>Course ID: @Model.CourseID</h4>
<h4>Assignment Description</h4>
<p>@Model.Description</p>
<a href="@Url.Action("CreateMilestone", "Teachers", new { assignmentID = Model.ID })"><button class="btn btn-default">Create Milestone</button></a>
<h4>Milestones</h4>
@{ int id = 1; }
<div class="panel-group" id="accordion">
    @foreach (MilestoneViewModel milestone in Model.Milestones) {
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" data-target="#collapse@(id)">@(id + ". " + milestone.Title + " (" + milestone.Weight + "%)")</a>
                </h4>
            </div>

            <div id="collapse@(id)" class="panel-collapse collapse">
                <div class="panel-body">
                    <p>@milestone.Description</p>
                    <p></p>
                </div>
            </div>
        </div>
        id++;
    }
</div>


