@model MooSharp.Models.ViewModels.AssignmentViewModel
@using MooSharp.Models.ViewModels
@{
    ViewBag.Title = "AssignmentDetails";
}

@section SideBar {
    <h4>@Html.ActionLink("Home", "Index", "Home")</h4>
    <hr />
    <h4>My Courses</h4>
    <li>@Html.ActionLink("Forritun", "CourseDetails", "Teachers", new { id = "3" }, null)</li>
    <li>@Html.ActionLink("Add User", "AddUser", "Teacher")</li>
    <li>@Html.ActionLink("Add users from Centris", "AddUsersFromCentris", "Teacher")</li>
    <hr />
}

<h1> @Model.Title</h1>
<hr />

<h4>Course ID: @Model.CourseID</h4>
<h4>Assignment Description</h4>
<p>@Model.Description</p>
@Html.ActionLink("Create Milestone", "CreateMilestone", new { assignmentID = Model.ID })
<table class="table table-striped">
    <thead>
        <tr>
            <th>Milestone Name</th>
            <th>Description</th>
            <th>Weight</th>
        </tr>
    </thead>
    <tbody>
        @foreach (MilestoneViewModel milestone in Model.Milestones) {
            <tr>
                <td>@milestone.Title</td>
                <td>@milestone.Description <td>
                <td>@milestone.Weight</td>
            </tr>
        }
    </tbody>
</table>


