@model MooSharp.Models.ViewModels.AssignmentViewModel
@using MooSharp.Models.ViewModels
@{
    ViewBag.Title = "AssignmentDetails";
}

<h1> @Model.Title</h1>
<hr />

<h4>Course ID: @Model.CourseID</h4>
<h4>Assignment Description</h4>
<p>@Model.Description</p>
@Html.ActionLink("Create Milestone", "CreateMilestone", new { assignmentID = Model.ID })
<table class="table table-striped">
    <thead>
        <tr>
            <th>Milestone Name</th>
            <th>Description</th>
            <th>Weight</th>
        </tr>
    </thead>
    <tbody>
        @foreach (MilestoneViewModel milestone in Model.Milestones) {
            <tr>
                <td>@milestone.Title</td>
                <td>@milestone.Description <td>
                <td>@milestone.Weight</td>
            </tr>
        }
    </tbody>
</table>


