@model MooSharp.Models.ViewModels.CourseViewModel
@using System;
@{
    ViewBag.Title = "CourseDetails";
}

<h1> @Model.Title</h1>
<hr />

<h4>Course Number: @Model.CourseNumber</h4>
<h4>Course ID: @Model.ID</h4>
<a href="@Url.Action("CreateAssignment", "Teachers", new { courseID = Model.ID })"><button class="btn btn-default">Create New Assignment</button></a> 
<h3>Active Assignments</h3>
<table class="table table-condensed">
    <thead>
        <tr>
            <th>Assignment Name</th>
            <th>Description</th>
            <th>Closing Time</th>
        </tr>
    </thead>
    <tbody>
        @for (int i = 0; i < Model.Assignments.Count; i++) {
            if(DateTime.Compare(Model.Assignments[i].DueDate,DateTime.Today) >= 0){
            <tr>
                <td>@Html.ActionLink(Model.Assignments[i].Title, "AssignmentDetails", new { assignmentID = Model.Assignments[i].ID })</td>
                <td>@Model.Assignments[i].Description</td>
                <td>@Model.Assignments[i].DueDate.ToString("dddd, dd. MMMM kl.HH:mm")</td>
            </tr>
            }
        }

    </tbody>
</table>
<h3>Finished Assignments</h3>
<table class="table table-condensed" id="teacher">
    <thead>
        <tr>
            <th>Assignment Name</th>
            <th>Description</th>
            <th>Closing Time</th>
        </tr>
    </thead>
    <tbody>
        @for (int i = 0; i < Model.Assignments.Count; i++) {
            if (DateTime.Compare(Model.Assignments[i].DueDate, DateTime.Today) < 0) {
            <tr>
                <td>@Html.ActionLink(Model.Assignments[i].Title, "AssignmentDetails", new { assignmentID = Model.Assignments[i].ID })</td>
                <td>@Model.Assignments[i].Description</td>
                <td>@Model.Assignments[i].DueDate.ToString("dddd, dd. MMMM kl.HH:mm")</td>
            </tr>
            }
        }

    </tbody>
</table>

@section Copyright {
    <hr />
    <p>&copy; @DateTime.Now.Year - MooSharp</p>
}