@model MooSharp.Models.ViewModels.CourseViewModel

@{
    ViewBag.Title = "CourseDetails";
}

@section SideBar {
    <h4>@Html.ActionLink("Home", "Index", "Home")</h4>
    <hr />
    <h4>My Courses</h4>
    <li>@Html.ActionLink("Forritun", "CourseDetails", "Teachers", new { id = "3" }, null)</li>
    <li>@Html.ActionLink("Add User", "AddUser", "Teacher")</li>
    <li>@Html.ActionLink("Add users from Centris", "AddUsersFromCentris", "Teacher")</li>
    <hr />
}

<h1> @Model.Title</h1>
<hr />

<h4>Course Number: @Model.CourseNumber</h4>
<h4>Course ID: @Model.ID</h4>
<a href="@Url.Action("CreateAssignment", "Teachers", new { courseID = Model.ID })"><button class="btn btn-default">Create New Assignment</button></a> 
<table class="table table-striped">
    <thead>
        <tr>
            <th>Assignment Name</th>
            <th>Description</th>
        </tr>
    </thead>
    <tbody>
        @for (int i = 0; i < Model.Assignments.Count; i++) {
            <tr>
                <td>@Model.Assignments[i].Title</td>
                <td>@Model.Assignments[i].Description</td>
            </tr> 
        }

    </tbody>
</table>

@section Copyright {
    <hr />
    <p>&copy; @DateTime.Now.Year - MooSharp</p>
}