@using MooSharp.Models.ViewModels
@model MooSharp.Models.ViewModels.Teachers.TeacherIndexViewModel
@{
    ViewBag.Title = "Teachers home page";
}

<h2>@ViewBag.Title</h2>
<hr />
<h3>Courses</h3>
<hr />
<!--<div class="well">-->
    <div class="row">
        @foreach(CourseViewModel course in Model.MyCourses) {

            <div class="col-sm-4">
                <div class="panel panel-default">
                    <div class="panel-heading"><a href="@Url.Action("CourseDetails", "Teachers", new { id = course.ID })"><h4>@course.Title</h4></a></div>
                    <div class="panel-body">
                            <p><strong>Course number</strong> </p>
                            <p>@course.CourseNumber</p>
                        <a href="@Url.Action("CreateAssignment", "Teachers", new { courseID = course.ID })"><button class="btn btn-default">Create assignment</button></a> 
                    </div>
                </div>
            </div>
            
        }
    </div>
<h3>Active assignments</h3>
<hr />
<div class="row">
    @foreach (AssignmentViewModel assignment in Model.ActiveAssignments) {

        <div class="col-sm-4">
            <div class="panel panel-default">
                <div class="panel-heading"><a href="@Url.Action("AssignmentDetails", "Teachers", new { assignmentID = assignment.ID })"><h4>@assignment.Title</h4></a></div>
                <div class="panel-body">
                    <div>
                        <p><strong>Description</strong></p>
                        <p> @assignment.Description</p>
                        <p><strong>Course</strong></p>
                        <p> @Model.MyCourses.Where(x => x.ID == assignment.CourseID).FirstOrDefault().Title</p>
                        <p><strong>Due date</strong></p>
                        <p> </p>
                    </div>
                </div>
            </div>
        </div>

    }
</div>
<h3>Finished Assignments</h3>
<hr />
<div class="row">
    @foreach (AssignmentViewModel assignment in Model.FinishedAssignments) {

        <div class="col-sm-4">
            <div class="panel panel-default">
                <div class="panel-heading"><a href="@Url.Action("AssignmentDetails", "Teachers", new { assignmentID = assignment.ID })"><h4>@assignment.Title</h4></a></div>
                <div class="panel-body">
                    <p><strong>Course</strong></p>
                    <p> @Model.MyCourses.Where(x => x.ID == assignment.CourseID).FirstOrDefault().Title</p>
                    <p><strong>Due date</strong></p>
                    <p> @(assignment.DueDate.ToString("dddd, dd. MMMM"))</p>
                    <p>@(assignment.DueDate.ToString("kl.HH:mm"))</p>
                </div>
            </div>
        </div>

    }
</div>

        


    @section Copyright {
        <hr />
        <p>&copy; @DateTime.Now.Year - MooSharp</p>
    }
