
@{
    ViewBag.Title = "Teachers home page";
}

@section SideBar {
    <h4>@Html.ActionLink("Home", "Index", "Home")</h4>
    <hr />
    <li>@Html.ActionLink("Forritun", "CourseDetails", "Teachers", new { id = "3" }, null)</li>
    @for (var i = 0; i < 3; i++) {
        <li> @Html.ActionLink("link " + @i, "Index", "Teachers") </li>
    }
    <hr />
}

<h2>@ViewBag.Title</h2>
<hr />
<h3>Courses</h3>
<hr />
<div class="row">
    @for (var i = 1; i <= 4; i++) {
        <div class="col-md-3">
            <div class="panel panel-default">
                <div class="panel-body">
                    <table class="table table-borderless">
                        <tbody>                        
                                <tr>
                                    <td class="coursetile-left">Name</td>
                                    <td>Course @i</td>
                                </tr>
                                <tr>
                                    <td class="coursetile-left">Active</td>
                                    <td>2</td>
                                </tr>
                                <tr>
                                    <td class="coursetile-left">Finished</td>
                                    <td>1</td>
                                </tr>
                                <tr>
                                    <td class="coursetile-left">Students</td>
                                    <td>198</td>
                                </tr>
                        </tbody>
                    </table>
                    <a href="@Url.Action("CreateAssignment", "Teachers")"><button class="btn btn-default">Create Assignment</button></a>
                </div>
            </div>
        </div>
    }
</div>


    @section Copyright {
        <hr />
        <p>&copy; @DateTime.Now.Year - MooSharp</p>
    }
