@model MooSharp.Models.ViewModels.Students.SubmissionResultsViewModel
@using MooSharp.Models.ViewModels

@{
    ViewBag.Title = "SubmissionResults";
}

<h2>Submission Results</h2>
<a href="~/Models/ViewModels/Students/SubmissionResultsViewModel.cs">~/Models/ViewModels/Students/SubmissionResultsViewModel.cs</a>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<h1> @Model.ID</h1>
<hr />

<h4>Milestone ID: @Model.MilestoneID</h4>
<hr />
<h4>Test cases</h4>

<div>
    <!--Tab headers-->
    @if (Model.SubmissionTestCases.Count > 0)
    {
        <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active"><a data-target="@("#" + Model.SubmissionTestCases[0].ID)" aria-controls="home" role="tab" data-toggle="tab">Test case 1</a></li>
            @for (var i = 1; i < Model.SubmissionTestCases.Count; i++)
            {
               <li role="presentation"><a data-target="@("#" + Model.SubmissionTestCases[i].ID)" aria-controls="home" role="tab" data-toggle="tab">@("Test case" + i+1)</a></li>
            }
        </ul>
        <!--Tab headers end-->
        <!--Tab content-->
      <!--  <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="@Model.SubmissionTestCase[0].ID">
                <br />
            </div>

            @for (var i = 1; i < Model.SubmissionTestCaes.Count; i++)
            {

                <div role="tabpanel" class="tab-pane" id="@Model.Milestones[i].ID">
                    <br />
                    <p>@Model.Milestones[i].Description</p>
                    @if (DateTime.Compare(Model.DueDate, DateTime.Today) > 0)
                    {
                        using (Html.BeginForm("UploadSubmission", "Submissions", FormMethod.Post, new { @class = "form form-horizontal", role = "form", enctype = "multipart/form-data" }))
                        {
                            <label for="file">Upload file for this milestone:</label>
                            <input type="file" name="file" id="file" /> <br />
                            <input type="submit" class="btn btn-default" value="Submit" />
                            <input name="ID" id="ID" value="@Model.ID" hidden />
                            <input name="CourseID" id="CourseID" value="@Model.CourseID" hidden />
                            <input name="MilestoneID" id="MilestoneID" value="@Model.Milestones[i].ID" hidden />
                        }
                    }
                </div>
            }
        </div>
    }
    else {
        <p class="text-danger">No milestones exist for this assignment</p>
    }
    <!--Tab content end-->
</div>