@using Microsoft.AspNet.Identity
@model MooSharp.Models.IndexViewModel
@{
    ViewBag.Title = "Settings";
}

<script type="text/javascript">
    $(document).ready(function () {
        $(".profile").addClass("active");
    });
</script>
<h2>@ViewBag.Title</h2>

        <div>
            <hr />
            <dl class="dl-horizontal">
                <dt>Username:</dt>
                    <dd>
                        @User.Identity.GetUserName()
                    </dd>
                <dt>Email:</dt>
                    <dd>
                        @Model.Email
                    </dd>
            </dl>
        </div>

        <div>
            <dl class="dl-horizontal settings-buttons">
                <dd>
                    <a href="@Url.Action("ChangePassword")"><button class="btn btn-default">Change password</button></a>
                </dd>
                <dd class="settings-buttons">
                    <a href="@Url.Action("ChangeTheme")"><button class="btn btn-default">Change theme</button></a>
                </dd>
             </dl>
        </div>

