@model MooSharp.Models.ViewModels.Admins.ConnectTeacherToCourseViewModel
@{
    ViewBag.Title = "ConnectUserToCourse";
}

<h2>Connect a Teacher to @Model.CourseTitle</h2>
<hr />
<div class="col-lg-6">
    @using (Html.BeginForm("ConnectTeacherToCourse", "Admins", FormMethod.Post, new { @class = "form form-horizontal", role = "form" })) {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary("", new { @class = "text-danger" })
        <div class="form-group">
            <input value="@Model.CourseID" name="courseID" hidden />
            <label for="UserID" class="col-md-4 control-label" id="userlistlabel">User</label>
            <div class="col-md-8">
                <select id="UserID" name="UserID" class="form-control">
                    @for (var i = 0; i < Model.AllTeachers.Count; i++) {
                        <option value="@Model.AllTeachers[i].userId">@Model.AllTeachers[i].username (@Model.AllTeachers[i].roles.FirstOrDefault())</option>
}
                </select>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" class="btn btn-default" value="Connect Teacher to Course" />
            </div>
        </div>
    }
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
