@model MooSharp.Models.ViewModels.Admins.CreateUserViewModel
@{
    ViewBag.Title = "Create User";
}

@section SideBar {
    <h4>@Html.ActionLink("Home", "Index", "Home")</h4>
    <hr />
    <li>@Html.ActionLink("Create Course", "CreateCourse", "Admins")</li>
    <li>@Html.ActionLink("Create User", "CreateUser", "Admins")</li>
    <li>@Html.ActionLink("Add users from Centris", "AddUsersFromCentris", "Admins")</li>
    <hr />
}

<h2>@ViewBag.Title.</h2>

@using (Html.BeginForm("CreateUser", "Admins", FormMethod.Post, new { @class = "form form-horizontal", role = "form" })) {
    @Html.AntiForgeryToken()
    <h4>Create a new account.</h4>
    <hr />
    @Html.ValidationSummary("", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(model => model.UserName, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(model => model.UserName, new { @class = "form-control"})
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.Email, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(model => model.Email, new { @class = "form-control"})
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.Password, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.PasswordFor(model => model.Password, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.ConfirmPassword, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.PasswordFor(model => model.ConfirmPassword, new { @class = "form-control"})
        </div>
    </div>
    <div class="form-group">
        <label for="roles" class="col-md-2 control-label" id="role-label">Roles</label>
        <div class="col-md-10">
            <select class="form-control" id="roles" name="roles">
                <option value="Administrators">Administrator</option>
                <option value="Teachers">Teacher</option>
                <option value="Students">Student</option>
            </select>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-default" value="Create User" />
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

