@model MooSharp.Models.ViewModels.Admins.CreateCourseViewModel
@{
    ViewBag.Title = "CreateCourse";
}

<h2>CreateCourse</h2>
<hr />
<div class="col-lg-6">
    @using (Html.BeginForm("CreateCourse", "Admins", FormMethod.Post, new { @class = "form form-horizontal", role = "form" })) {
        @Html.ValidationSummary("", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.CourseNumber, new { @class = "col-md-4 control-label" })
            <div class="col-md-8">
                @Html.TextBoxFor(model => model.CourseNumber, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Name, new { @class = "col-md-4 control-label" })
            <div class="col-md-8">
                @Html.TextBoxFor(model => model.Name, new { @class = "form-control" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" class="btn btn-default" value="Create Course" />
            </div>
        </div>
    }
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}