@model MooSharp.Models.ViewModels.Admins.AdminIndexViewModel

@{
    ViewBag.Title = "Admin Home Page";
}

@section SideBar {
    @Html.Partial("AdminSideBar")
}

<h2>@ViewBag.Title</h2>
<hr />
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading"><h3>Courses <a href="@Url.Content("~/Admins/CreateCourse")"><button type="button" class="btn btn-default">Create Course</button></a> </h3></div> 
            <div class="panel-body">
                <table class="table table-condensed">
                    <thead>
                        <tr>
                            <th>Course</th>
                            <th>Crouse Number</th>
                            <th>Teacher</th>
                        </tr>
                    </thead>
                    <tbody>                        
                        @for (var i = Model.AllCourses.Count -1; i >= 0; i--) {
                            <tr>
                                <td>@Model.AllCourses[i].Title</td>
                                <td>@Model.AllCourses[i].CourseNumber</td>
                                <td>
                                    @if (Model.AllCourses[i].Teachers.Count == 0) {
                                        using (Html.BeginForm("ConnectTeacherToCourse", "Admins", FormMethod.Get, new { @class = "form form-horizontal", role = "form" })) {
                                        <div class="form-group">
                                                <input value="@Model.AllCourses[i].ID" name="courseID" hidden />
                                                <input type="submit" class="btn btn-default" value="Add Teacher to Course" />
                                        </div>}}
                                    else {
                                        @Model.AllCourses[i].Teachers[0].username
                                    }
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading"><h3>Users <a href="@Url.Content("~/Admins/CreateUser")"><button class="btn btn-default">Create User</button></a> </h3></div>
            <div class="panel-body">
                <table class="table table-condensed">
                    <thead>
                        <tr>
                            <th>User Name</th>
                            <th>Email</th>
                            <th>Roles</th>
                        </tr>
                    </thead>
                    <tbody>
                        @for (var i = 0; i < Model.AllUsers.Count; i++) {
                            <tr>
                                <td>@Model.AllUsers[i].username</td>
                                <td>@Model.AllUsers[i].email</td>
                                <td>
                                    @for (var j = 0; j < Model.AllUsers[i].roles.Count; j++) { 
                                        @Model.AllUsers[i].roles[j] 
                                        if(!(j + 1 == Model.AllUsers[i].roles.Count)) {
                                            <text>, &nbsp;</text>
    }
}
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>



<script type="text/javascript">
    window.addEventListener("keydown", checkKeyPressed, false);

    function checkKeyPressed(e) {
        if (e.keyCode == "18") {
            isCtrl = true;
        }
        if (e.keyCode == "71" && isCtrl == true) {
            window.location ='@Url.Content("~/Account/GandalfEasterEgg")';
        }
    }
</script>

@section Copyright {
    <hr />
    <p>&copy; @DateTime.Now.Year - MooSharp</p>
}