@model MooSharp.Models.ViewModels.Admins.AdminIndexViewModel

@{
    ViewBag.Title = "Admin Home Page";
}

@section SideBar {
    <h4>@Html.ActionLink("Home", "Index", "Home")</h4>
    <hr />
    <li>@Html.ActionLink("Create Course", "CreateCourse", "Admins")</li>
    <li>@Html.ActionLink("Create User", "CreateUser", "Admins")</li>
    <li>@Html.ActionLink("Add users from Centris", "AddUsersFromCentris", "Admins")</li>
    <hr />
}

<h2>@ViewBag.Title</h2>
<hr />
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading"><h3>Courses <a href="@Url.Content("~/Admins/CreateCourse")"><button type="button" class="btn btn-default">Create Course</button></a> </h3></div> 
            <div class="panel-body">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Course</th>
                            <th>Crouse Number</th>
                            <th>Teacher</th>
                        </tr>
                    </thead>
                    <tbody>                        
                        @for (var i = Model.AllCourses.Count -1; i >= 0; i--) {
                            <tr>
                                <td>@Model.AllCourses[i].Title</td>
                                <td>@Model.AllCourses[i].CourseNumber</td>
                                <td>#</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading"><h3>Users <a href="@Url.Content("~/Admins/CreateUser")"><button class="btn btn-default">Create User</button></a> </h3></div>
            <div class="panel-body">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>User Name</th>
                            <th>Email</th>
                            <th>Roles</th>
                        </tr>
                    </thead>
                    <tbody>
                        @for (var i = 0; i < Model.AllUsers.Count; i++) {
                            <tr>
                                <td>@Model.AllUsers[i].username</td>
                                <td>@Model.AllUsers[i].email</td>
                                <td>
                                    @for (var j = 0; j < Model.AllUsers[i].roles.Count; j++) { 
                                        @Model.AllUsers[i].roles[j] 
                                        if(!(j + 1 == Model.AllUsers[i].roles.Count)) {
                                            <text>, &nbsp;</text>
    }
}
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

@section Copyright {
    <hr />
    <p>&copy; @DateTime.Now.Year - MooSharp</p>
}