@model MooSharp.Models.ViewModels.Admins.AdminIndexViewModel

@{
    ViewBag.Title = "Admin Home Page";
}

@section SideBar {
    <h4>@Html.ActionLink("Home", "Index", "Home")</h4>
    <hr />
    <li>@Html.ActionLink("Add Course", "CreateCourse", "Admins")</li>
    <li>@Html.ActionLink("Add User", "AddUser", "Admins")</li>
    <li>@Html.ActionLink("Add users from Centris", "AddUsersFromCentris", "Admins")</li>
    <hr />
}

<h2>@ViewBag.Title</h2>
<hr />
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading"><h3>Courses <a href="@Url.Content("~/Admins/CreateCourse")"><button class="btn btn-default">Create Course</button></a> </h3></div> 
            <div class="panel-body">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Course</th>
                            <th>Crouse Number</th>
                            <th>Teacher</th>
                        </tr>
                    </thead>
                    <tbody>                        
                        @for (var i = Model.AllCourses.Count -1; i >= 0; i--) {
                            <tr>
                                <td>@Model.AllCourses[i].Title</td>
                                <td>@Model.AllCourses[i].CourseNumber</td>
                                <td>#</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading"><h3>Hello.</h3></div>
            <div class="panel-body">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis pharetra varius quam sit amet vulputate.
                Quisque mauris augue, molestie tincidunt condimentum vitae, gravida a libero. Aenean sit amet felis
                dolor, in sagittis nisi. Sed ac orci quis tortor imperdiet venenatis. Duis elementum auctor accumsan.
                Aliquam in felis sit amet augue.
            </div>
        </div>
    </div>
</div>

<hr>
<h4><a href="http://www.bootply.com/Gygh9swISB">Edit on Bootply</a></h4>
<hr>

@section Copyright {
    <p>&copy; @DateTime.Now.Year - MooSharp</p>
}